<%
  @data = []
  @labels = []
  (1..7).each do |index|
    from_time = Time.new - index.days
    to_time = from_time + 1.day
    @labels << from_time.to_i
    @data << ActionRecording.where(['created_at > ? AND created_at < ?', from_time, to_time]).count
  end
%>
<%= google_chart_tag :type => :bar, :size => "660x100", :data => @data, :labels => @labels %>

<script type="text/javascript">
//<![CDATA[
  var pollLastID = <%= @action_recordings.first.id %>;
  var pollIntervalID = null;
  function pollServer() {
    jQuery.ajax({
      url: '<%= admin_action_recordings_path %>',
      data: 'last_id='+pollLastID,
      dataType: 'json',
      type: 'GET',
      success: function (data, status, xhr) {
        pollLastID = data['last_id'];
        var html = jQuery.trim(data['live_content']);
        document.title = html.length;
        if( html.length > 0 ) {
          jQuery('#live_content').prepend(html);
          jQuery('#live_content ul.action_list').first().glow();
        }
        jQuery("#poll_status").html("");
      },
      error: function (data, status, xhr) {
        stopPolling();
        jQuery("#poll_status").html("[ERROR] Stopped polling!");
      },
      beforeSend: function (data, status, xhr) {
        jQuery("#poll_status").html("Sending "+pollLastID+"...");
      },
      complete: function (data, status, xhr) {
        jQuery("#poll_status").html("");
      }
    });
  }
  function startPolling() {
    stopPolling();
    pollIntervalID = setInterval(pollServer, 1500);
  }
  function stopPolling() {
    if( pollIntervalID ) clearInterval(pollIntervalID);
  }
  startPolling();      
//]]>
</script>

<input type="button" onclick="pollServer();" value="Poll server">
<span id="poll_status">&nbsp;</span>

<div id="live_content">
  <%= render_partial :recordings, :locals => {:recordings => @action_recordings} %>
</div>