<%= render :partial => "postings/filters" %>

<div class="box">
  <h3><%= t("loading_spaces.index.header") %></h3>
  <p>
    <%= t('loading_spaces.index.intro') %>
  </p>
  
  <%= render :partial => "postings/postings" %>
</div>