<%= partial "toolbar_postings" %>

<div class="box">
  <h3><%= t("loading_spaces.index.header#{'_query' if @q}", :query => @q) %></h3>
  <p>
    <%= t('loading_spaces.index.intro') %>
  </p>
  
  <%= render :partial => "postings/postings" %>
</div>