<div class="footer">
  <div class="container" id="footer">
    <div class="span-24 last">
      <strong>&copy; <%= Time.new.year %> by René Föhring</strong> |
      <%= link_to "Impressum", about_path %> |
      <%= link_to "Kontakt", contact_path %>
    </div>
  </div>
</div>