<div class="footer">
  <div class="container" id="footer">
    <div class="span-24 last">
      <strong>&copy; <%= Time.new.year %> by registered owner.</strong>
      <%#= link_to "About", about_path %>
      <%= link_to "Contact", contact_path %>
    </div>
  </div>
</div>