#demo_mode {
  width: 100%;
  height: 12px;
  background: url(/images/demo_mode.gif) top center;
  border-bottom: 1px solid #444;
}

html, body {
  background: #444;
}
div.header {
  background: url(body_bg.gif) repeat-x;
}
div.frame {
  background: #F3F3F3;
  min-height: 650px;
}
div.footer {
  border-top: 5px solid #CCC;
  background: #444;
  color: #fff;
  padding-top: 20px;
}
#header {
  height: 80px;
}
#frame {
  padding-top: 20px;
}
#first-header * {
  color: #fff;
}
#first-header a {
  text-decoration: none;
}
#first-header a img {
  float: left;
}
#first-header ul.navigation a,
#first-header ul.navigation span {
  font-size: 16px;
  font-weight: bold;
  margin: 6px;
}
#first-header ul.navigation span {
  color: #aaa;
  text-decoration: underline;
}
#first-header ul.navigation a:hover {
  text-decoration: underline;
}
#second-header ul.navigation-left span {
  font-size: 1.5em;
}

div#second-header {
  color: #525252;
}

ul.navigation {
  padding: 0;
  margin: 0;
}

ul.navigation li {
  display: block;
  float: left;
}

ul.navigation li span,
ul.navigation li a {
  display: block;
  padding: 4px;
}

ul.navigation-left {
  float: left;
}

ul.navigation-right {
  float: right;
}

div.page_title {
  background: #fff url(/images/corridor_map.jpg) top center;
}
div#page_title {
  position: relative;
  height: 260px;
}
.admin div#page_title,
#root.about div#page_title {
  height: 68px;
}
.admin div#page_title div#search_form,
#root.about div#page_title div#search_form {
  display: none;
}

div.page_title h2 {
  background:url("/images/black50.png") repeat scroll 0 0 transparent;
  border:medium none;
  color:#FFFFFF;
  float:left;
  font-size:24px;
  height:auto;
  margin:10px 0;
  max-height:90px;
  overflow:hidden;
  padding:5px 10px;
  text-shadow:0 1px 3px #222222;
  white-space:normal;
  width:300px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
}

div.page_title div.subtext {
  color:#222222;
  font-size:32px;
  font-weight:bold;
  letter-spacing:-1px;
  line-height:40px;
  margin:0 auto;
  max-width:300px;
  z-index:999;
  position: absolute;
  bottom: 10px;
}

div.page_title div#search_form {
  margin: 20px 0;
}
div.page_title div#search_form .input-wrapper {
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: #fff;
  border-color:#CCCCCC #CCCCCC #999999;
  border-style:solid;
  border-width:1px;
}
div.page_title div#search_form .input-wrapper input#q {
  border: 0;
  margin: 0;
  background: transparent;
  width: 310px;
  font-size: 20px;
  padding: 3px;
}
div.page_title div#search_form .input-wrapper input#q:focus {
  outline: none;
}

#sidebar .create_new_freight,
#sidebar .create_new_loading_space,
div.page_title div#search_form .input-wrapper input[type=submit] {
  border: 0;
  border-left: 1px solid #CCCCCC;
  background-color: #eee;
  height: 32px;
  cursor:pointer;
  font:15px arial,sans-serif;
}

#sidebar .create_new_freight,
#sidebar .create_new_loading_space {
  display: block;
  text-align: center;
  line-height: 30px;
  width: 100%;
  background-color: #88cc33;
  border-color:#66aa11 #66aa11 #448800;
  border-style:solid;
  border-width:1px;
  color: #fff;
  font-weight: bold;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  -moz-box-shadow:0 1px 3px #BBBBBB;
  -webkit-box-shadow: #BBB 0px 1px 3px;
}

div.box {
  background-color: #fff;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  -moz-box-shadow:0 1px 3px #BBBBBB;
  -webkit-box-shadow: #BBB 0px 1px 3px;
}

#content h3,
div.box h3 {
  color: #666;
  border-bottom: 1px solid #E0E0E0;
  font-size: 0.9em;
  line-height: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

div.frame a {
  color: #4E96B2;
  font-weight: bold;
  text-decoration: none;
}
div.frame a:hover {
  text-decoration: underline;
}

thead th {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #666;
  border-bottom: 1px solid #E0E0E0;
}

legend span {
  color: #666;
  font-size: 1em;
}

#sidebar .box ul {
  padding-left: 20px;
}

span.label {
  color: #fff;
  background-color: #000;
  border: 1px solid #ccc;
  padding: 2px;
  font-size: 0.8em;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px;
  text-shadow:0 1px 3px #222222;
}
span.label.freight {
  background-color: #0c0;
  border-color: #0a0;
}
span.label.loading_space {
  background-color: #00c;
  border-color: #00a;
}

table tr th h2 {
  margin: 0;
}
h3 a.new,
h3 a.edit,
h3 a.show {
  float: right;
  text-transform: none;
}
table tr th b {
  color: #000;
  text-transform: none;
}


.bad,
.severe,
a.severe:visited,
a.cancel,
a.cancel:hover,
a.cancel:visited,
a.delete,
a.delete:hover,
a.delete:visited,
a.edit,
a.edit:hover,
a.edit:visited {
  color: #f00;
  text-decoration: underline;
}

fieldset ol li.error {
  background: transparent;
  border: 0;
}
fieldset ol li.error input {
  background:#FBE3E4;
  color:#8a1f11;
  border: 2px solid #FBC2C4;
}