#demo_mode {
  width: 100%;
  height: 12px;
  background: url(/images/demo_mode.gif) top center;
  border-bottom: 1px solid #444;
}

html, body {
  background: #fff;
  background: url(body_bg.png) repeat-x;
  color: #333;
}
div.header {
}
div.frame {
  min-height: 650px;
}
div.footer {
  border-top: 3px solid #CCC;
  border-bottom: 1px solid #CCC;
  background: #f5f5f5;
  padding-top: 20px;
  min-height: 120px;
}
#header {
  height: 80px;
}

ul.navigation {
  padding: 0;
  margin: 0;
}

#top-navigation {
  background-color: #2D2D2D;
  padding: 0 4px;
  position: relative;
}

ul.navigation li {
  display: block;
  float: left;
}
ul.navigation li.last,
ul.navigation li.noborder {
  background-image: none;
}

#top-navigation ul.navigation li span,
#top-navigation ul.navigation li a.active,
#top-navigation ul.navigation li a {
  display: block;
  padding: 6px;
  color: #aaa;
  text-decoration: none;
}

#top-navigation ul.navigation li a:hover {
  background-color: #4D4D4D;
  color: #ddd;
}
#top-navigation .navigation-left ul.navigation li span,
#top-navigation .navigation-left ul.navigation li a.active {
  font-weight: bold;
  color: #fff;
  padding-top: 4px;
  border-top: 2px solid #4183C4;
}
#top-navigation .navigation-right ul.navigation li span,
#top-navigation .navigation-right ul.navigation li a.active {
  border-color: #DD4B39;
}
#top-navigation ul.navigation li span.company_name {
  font-weight: bold;
  color: #666;
  padding-top: 6px;
  border-top: none;
}
#top-navigation ul.navigation li span.normal {
  font-weight: normal;
  color: #000;
}
#top-navigation ul.navigation li.no-border span,
#top-navigation ul.navigation li.no-border a.active {
  border-top: 2px solid transparent;
  background-color: #4D4D4D;
  background: #fcfcfc;
}
#top-navigation ul.navigation li.notifications a .badge {
  background-color: #DD4B39;
  color: white;
  border: 1px solid #900;
  border-top-width: 2px;
  border-top-color: #c00;
  border-left-color: #c00;
}
#top-navigation ul.navigation li.viewed .badge {
  border: none!important;
}
#top-navigation ul.navigation li.notifications a.active .badge {
  border: 1px solid #bbb!important;
  border-top-width: 2px!important;
  border-top-color: #999!important;
  border-left-color: #999!important;
}
#top-navigation ul.navigation li.notifications a.active .badge {
  background: #ddd!important;
  color: #333!important;
}

#top-navigation ul.navigation li a.frontend {
  color: #aaa;
}

#top-navigation ul.navigation li a.backend {
  margin-right: 20px;
}

ul.navigation-lang {
  margin-top: 8px;
}

.float_left,
.navigation-left {
  display: block;
  float: left;
}
.float_right,
.navigation-right {
  display: block;
  float: right;
}

div.corridor_map {
  background: #fff url(/images/corridor_map.jpg) top center;
}
div#corridor_map {
  position: relative;
  height: 260px;
}
.admin div#page_title,
div#page_title {
  height: 68px;
}

div#content h2,
div#page_title h2 {
  margin-left: 16px;
}

.frame h1,
.frame h2,
.frame h3 {
  color: #4183C4;
}

.frame h1 small,
.frame h2 small,
.frame h3 small {
  color: #88cc33;
  font-size: 12px;
}

.frame h1 small a,
.frame h2 small a,
.frame h3 small a {
  color: inherit;
  text-decoration: underline;
}

div.header div#search_form {
  margin: 16px 0 0 10px;
}
div.header div#search_form input[type=image] {
  vertical-align: bottom;
}
div.header div#search_form .input-wrapper {
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: #fff;
  border-color:#ccc #ccc #999;
  border-style:solid;
  border-width:1px;
  border-bottom-color: #D4D4D4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #D4D4D4;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #D4D4D4;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #D4D4D4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 1px;
  float: right;
  width: 320px;
  position: relative;
}
div.header div#search_form.focussed .input-wrapper {
  background-color: #eef;
  border-color: #ccf;
}
div.header div#search_form .input-wrapper input {
  margin: 0;
  border: 0;
  display: block;
  float: left;
  width: 24px;
}
.popover .search-label,
div.header div#search_form .search-label {
  display: block;
  float: left;
  margin: 2px 0 0 2px;
  padding: 2px;
  border-radius: 3px;
  font-size: 11px;
  color: #fff;
  background: #333;
  text-decoration: none;
}
.popover .search-label {
  margin: 2px;
  float: none;
  clear: both;
  text-align: center;
}
div.header div#search_form .search-label {
  opacity: 0.7;
}

.popover .search-label-freights,
div.header div#search_form .input-wrapper .search-label-freights {
  background-color: #4183C4;
}
.popover .search-label-loading_spaces,
div.header div#search_form .input-wrapper .search-label-loading_spaces {
  background-color: #6ba028;
}
.popover .search-label-companies,
div.header div#search_form .input-wrapper .search-label-companies {
  background-color: #6941c4;
}
.popover .search-label-stations,
div.header div#search_form .input-wrapper .search-label-stations {
  background-color: #c46f41;
}
.popover .search-label-admin,
div.header div#search_form .input-wrapper .search-label-admin {
  background: #7e00ff;
}
div.header div#search_form .input-wrapper input#q {
  background: transparent;
  color: #4183C4;
  float: left;
  width: 89px;
  font-size: 14px;
  line-height: 16px;
  padding: 3px;
  margin-top: 1px;
}

div.header div#search_form .input-wrapper input#q:focus {
  outline: none;
}

div.header div#search_form .advanced-search-wrapper {
  display: none;
  font-size: 11px;
  text-align: right;
}
div.header div#search_form .advanced-search-wrapper a {
  font-size: 11px;
  font-weight: normal;
  color: #aaa;
}
div.header div#search_form .advanced-search-wrapper a:hover {
  color: inherit;
}

div.frame div.box {
  background-color: #fff;
}
div#sidebar {
  padding-top: 20px;
}
div#sidebar div.box {
  /*
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  -moz-box-shadow:0 1px 3px #BBBBBB;
  -webkit-box-shadow: #BBB 0px 1px 3px;
  */
  border-top: 2px solid #ddd;
  border-left: 1px solid #eee;
}

#content h3,
div.box h3 {
  border-bottom: 1px solid #E0E0E0;
  font-size: 0.9em;
  line-height: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

div.navibox a,
div.frame a {
  color: #4E96B2;
  font-weight: bold;
  text-decoration: none;
}
div.frame a:hover {
  text-decoration: underline;
}

table thead th {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #666;
}
.index #content table thead th {
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #aaa;
  background: #ddd;
}
.index #content table thead th:first-child {
  border-left: 1px solid #ccc;
}
.index #content table thead th:last-child {
  border-right: 1px solid #aaa;
}
.index #content table tr:nth-child(2n) td {
  background: #f5f5f5;
}

.index #content table tbody tr td {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #E0E0E0;
}

.index #content table tbody tr td:first-child {
  border-left: 1px solid;
  border-color: #E0E0E0;
}

tbody td.options {
  text-align: right;
  padding-right: 0;
}

table.stats td.id a,
table.stats td.created_at,
.nil {
  font-weight: normal;
  color: #aaa;
}

table.stats .highlight {
  padding: 3px;
  background-color: #0D7F09;
  color: white;
  background-color: #ffa;
  color: #333;
}

table.stats small {
  display: block;
  color: #333;
}

table.postings tr.highlight td {
  background-color: #ffa!important;
}

table.postings tr.old td.origin_date,
table.postings tr.old td.origin_name,
table.postings tr.old td.destination_name,
table.postings tr.old td.options a.btn-edit, 
table.postings tr.old td.options a.btn-reply {
  opacity: 0.25;
}

legend span {
  color: #666;
  font-size: 1em;
}

form.formtastic fieldset.inputs {
  border-bottom: #eee 1px solid;
}

form.formtastic fieldset.inputs,
form.formtastic fieldset.buttons {
  margin-top: 40px;
}

#sidebar .box ul {
  padding-left: 20px;
}
#sidebar h3.info {
  text-align: center;
  font-size: 0.9em;
  line-height: 2em;
  font-weight: bold;
  text-transform: uppercase;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 0.2em;
}
#sidebar div.notice {
  -moz-border-radius:5px 5px 5px 5px;
  border-radius: 5px;
  text-align: center;
}

span.label {
  color: #fff;
  background-color: #000;
  border: 1px solid #ccc;
  padding: 2px;
  font-size: 0.8em;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px;
  text-shadow:0 1px 3px #222222;
}
span.label.freight {
  background-color: #0c0;
  border-color: #0a0;
}
span.label.loading_space {
  background-color: #00c;
  border-color: #00a;
}

table tr th h2 {
  margin: 0;
}
h3 a.new,
h3 align,
h3 a.show {
  float: right;
  margin-top: -6px;
  margin-left: 4px;
  text-transform: none;
}
table tr th b {
  color: #000;
  text-transform: none;
}

.bad,
.severe,
a.severe:visited,
a.cancel,
a.cancel:hover,
a.cancel:visited,
a.delete,
a.delete:hover,
a.delete:visited {
  color: #f00;
  text-decoration: underline;
}

fieldset ol li.error {
  background: transparent;
  border: 0;
}
fieldset ol li.error input {
  background:#FBE3E4;
  color:#8a1f11;
  border: 2px solid #FBC2C4;
}


/* button basics */ 
a.minibutton {
    display:inline-block;
    height:23px;
    padding:0 0 0 3px;
    font-size:11px;
    font-weight:bold;
    color:#333!important;
    text-shadow:1px 1px 0 #fff; 
    background:url(minibutton_matrix.png) 0 0 no-repeat;
    white-space:nowrap;
    border:none;
    overflow:visible;
    cursor:pointer;
    text-decoration:none!important;
    text-transform: none;
  }
a.minibutton>span {
    display:block;
    height:23px;
    padding:0 10px 0 8px;
    line-height:23px;
    background:url(minibutton_matrix.png) 100% 0 no-repeat;
  }
a.minibutton:hover,
a.minibutton:focus,
a.minibutton-active {
    color:#fff!important;
    text-decoration:none;
    text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
    background-position:0 -30px;
  }
a.minibutton:hover>span, a.minibutton:focus>span {background-position:100% -30px;}
/*
a.minibutton.mousedown{background-position:0 -60px; }
a.minibutton.mousedown>span{background-position:100% -60px; }
*/
a.minibutton-active,
a.minibutton-active:hover {
  background-position:0 -150px;
}
a.minibutton-active>span, a.minibutton-active:hover>span {background-position:100% -150px;}
/* Green minibutton */
a.minibutton-green {
    color:#fff!important;
    text-decoration:none;
    text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
  background-position:0 -210px;
}
a.minibutton-green>span {background-position:100% -210px;}

/* with icon */
a.minibutton .icon {
    float:left;
    margin-left:-4px;
    width:18px;
    height:22px;
    background:url(minibutton_icons.png) 0 0 no-repeat;
  }
a.btn-edit .icon {background-position:0 0;}
a.btn-edit:hover .icon, a.btn-download:focus .icon {background-position:0 -25px;}
a.btn-show .icon {background-position:-20px 0;}
a.btn-show:hover .icon, a.btn-download:focus .icon {background-position:-20px -25px;}
a.btn-download .icon {background-position:-40px 0;}
a.btn-download:hover .icon, a.btn-download:focus .icon {background-position:-40px -25px;}
a.btn-upload .icon {background-position:-60px 0;}
a.btn-upload:hover .icon, a.btn-download:focus .icon {background-position:-60px -25px;}
a.btn-fork .icon {background-position:-80px 0;}
a.btn-fork:hover .icon, a.btn-download:focus .icon {background-position:-80px -25px;}
a.btn-compare .icon {background-position:-100px 0;}
a.btn-compare:hover .icon, a.btn-download:focus .icon {background-position:-100px -25px;}
a.btn-leave .icon {background-position:-120px 0;}
a.btn-leave:hover .icon, a.btn-download:focus .icon {background-position:-120px -25px;}
a.btn-reply .icon {background-position:-140px 0;}
a.btn-reply:hover .icon, a.btn-download:focus .icon {background-position:-140px -25px;}
a.btn-prev .icon {background-position:-160px 0;}
a.btn-prev:hover .icon, a.btn-download:focus .icon {background-position:-160px -25px;}
a.btn-next .icon {background-position:-180px 0;}
a.btn-next:hover .icon, a.btn-download:focus .icon {background-position:-180px -25px;}


/* 
  Big Buttons in Sidebar 
*/
#sidebar .create_new_freight,
#sidebar .create_new_loading_space {
  -moz-border-radius:5px 5px 5px 5px;
  -moz-box-shadow:0 1px 0 #ECECEC;
  background: #ECECEC;
  background: -moz-linear-gradient(90deg, #ECECEC, #F4F4F4) repeat scroll 0 0 transparent;
  -webkit-box-shadow: #ECECEC 0px 1px 0px 0px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, from(#ECECEC), to(#F4F4F4));
  background-origin: padding-box;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F4F4F4',endColorstr='#ECECEC');
  border: 1px solid  #D4D4D4;
  border-radius: 5px;
  color: #666;
  cursor: auto;
  display: block;
  float: right;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  height: 15px;
  line-height: 15px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  outline-color: #666;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 15px;
  padding-top: 10px;
  position: static;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;
  text-align: center;
  width: 250px;
  margin-right: 16px;
}

#sidebar .create_new_freight:hover,
#sidebar .create_new_loading_space:hover {
  cursor: pointer;
  text-shadow: #2E63A5 0px -1px 0px;
  border: 1px solid #2E63A5;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 0 #2E63A5;
  background: #3570B8;
  background: -webkit-gradient(linear,center bottom,center top,from(#3570B8),to(#5E9AE2));
  background: -moz-linear-gradient(90deg,#3570B8,#5E9AE2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3570B8',endColorstr='#5E9AE2');
}

/* Action lists */

#poll_status {
  color: #eee;
}

ul.search_results li.highlight.hovered,
ul.search_results li.highlight {
  background-color: #c5ffc8;
  border-color: #5db15a;
  border-bottom: 2px solid #5db15a;
}

ul.search_results li.highlight a {
  color: #2a8126;
}

ul.action_list,
ul.action_list li {
  padding: 0;
  list-style-type: none;
}
ul.action_list li {
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 10px;
}
ul.action_list li:first-child {
  border-top: 1px solid #ccc;
}
ul.action_list li.hovered {
  cursor: pointer;
  background: url(action_list_go.png) right center no-repeat #ffe;
}
ul.action_list li.hovered a:first-of-type {
  text-decoration: underline;
}

ul.action_list div.image {
  width: 24px;
  float: left;
}
ul.action_list div.image img {
  width: 16px;
  height: 16px;
}
ul.action_list div.text strong {
  background-color: #ffa;
}
ul.action_list div.avatar {
  background-color: white;
  border: 1px solid #D0D0D0;
  float: left;
  margin-right: 0.7em;
  padding: 2px;
  width: 30px;
  height: 30px;
  display: none;
}
ul.action_list div.avatar img {
  width: 30px;
  height: 30px;
}

.green {
  color: #0D7F09!important;
}

a.filter {
  color: #333!important;
  font-weight: normal!important;
  text-decoration: underline!important;
}
a.filter.active {
  font-weight: bold!important;
}

#top-navigation .badge {
  padding: 1px 5px;
  border-radius: 2px;
}
#top-navigation .viewed .badge {
  background-color: #666!important;
  color: #aaa!important;
  border-color: #666!important;
}

/* Reviews */
li.unapproved b {
  background-color: #fcc;
  padding: 3px;
}
li.approved b {
  background-color: #0D7F09;
  color: white;
  padding: 3px;
}

/* Notifications */

ul.notifications li {
  border-left: 2px solid #aaa;
  padding: 5px;
}

ul.notifications li.unread {
  border-left-color: #5ba320;
  background-color: #f0fff0;
  border-top-color: #999;
  border-bottom-color: #999;
}

div.toolbar {
  margin-left: 16px;
  width: 920px;
  position: absolute;
  margin-top: -20px;
}

/*
#header, #content, #sidebar, #page_title, #toolbar {
  border: 1px solid red;
}
#frame {
  border: 1px solid blue;
}
*/


.top-navigation-menu {
  position: absolute;
  z-index: 100;
  width: 170px;
  box-shadow: 0 3px 3px #666
}

#top-navigation .navigation-right ul.navigation li a.active,
#top-navigation a.menu-active:hover,
#top-navigation a.menu-active,
.top-navigation-menu {
  background: #fff!important;
  color:#505050!important;
}
.top-navigation-menu ul {
  padding: 0;
  margin: 0;
}
.top-navigation-menu ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  clear: both;
  width: 100%;
}
.top-navigation-menu ul li a {
  display: block;
  padding: 6px;
  clear: both;
  color: #333!important;
}
.top-navigation-menu ul li a.active {
  border: 0!important;
  font-weight: bold;
  color: #000!important;
}
.top-navigation-menu ul li a:hover {
  background: #ddd!important;
  color: #333!important;
}
#personal-menu {
  right: 0;
}

#origin_with_station .stations label,
#destination_with_station .stations label {
  /*display: block;*/
  font-weight: normal;
  float: none;
  width: 100%;
  padding-left: 160px;
  max-width: 270px;
}

#origin_with_station .stations input,
#destination_with_station .stations input {
  float: none;
  width: auto;
  min-width: 0;
}


.pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .pagination a:hover, .pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }

#company_custom_category_input input.checkbox,
#freight_custom_category_input input.checkbox,
#loading_space_custom_category_input input.checkbox {
  min-width: 0;
  margin-right: 0.3em;
}