#demo_mode {
  width: 100%;
  height: 12px;
  background: url(/images/demo_mode.gif) top center;
  border-bottom: 1px solid #444;
}

html, body {
  background: #fff;
  background: url(body_bg.png) repeat-x;
}
div.header {
}
div.frame {
background: url(frame_bg.png) center top no-repeat;
  min-height: 650px;
}
div.footer {
  border-top: 3px solid #CCC;
  border-bottom: 1px solid #CCC;
  background: #f5f5f5;
  color: #333;
  padding-top: 20px;
  min-height: 120px;
}
#header {
  height: 80px;
}
#frame {
  padding-top: 20px;
}

ul.navigation {
  padding: 0;
  margin: 0;
}

ul.navigation li {
  display: block;
  float: left;
  background: url(navi_seperator.gif) right center no-repeat;
  padding-right: 4px;
}
ul.navigation li.last,
ul.navigation li.noborder {
  background-image: none;
}

ul.navigation li span,
ul.navigation li a {
  display: block;
  padding: 4px;
}

ul.navigation li span {
  font-weight: bold;
  color: #666;
}
ul.navigation li span.normal {
  font-weight: normal;
  color: #000;
}

ul.navigation li a.frontend,
ul.navigation li a.backend {
  color: #333;
}

ul.navigation-lang {
  margin-top: 8px;
}

.navigation-left {
  float: left;
}
.navigation-right {
  float: right;
}

div.corridor_map {
  background: #fff url(/images/corridor_map.jpg) top center;
}
div#corridor_map {
  position: relative;
  height: 260px;
}
.admin div#page_title,
div#page_title {
  height: 68px;
}
div#page_title h2 {
  margin-left: 16px;
  color: #666;
}


#root.about div#page_title div#search_form {
  display: none;
}

div.corridor_map h2 {
  background:url("/images/black50.png") repeat scroll 0 0 transparent;
  border:medium none;
  color:#FFFFFF;
  float:left;
  font-size:24px;
  height:auto;
  margin:10px 0;
  max-height:90px;
  overflow:hidden;
  padding:5px 10px;
  text-shadow:0 1px 3px #222222;
  white-space:normal;
  width:300px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
}

div.corridor_map div.subtext {
  color:#222222;
  font-size:32px;
  font-weight:bold;
  letter-spacing:-1px;
  line-height:40px;
  margin:0 auto;
  max-width:300px;
  z-index:999;
  position: absolute;
  bottom: 10px;
}

div.page_title div#search_form {
  margin: 20px 0;
}
div.page_title div#search_form input[type=image] {
  vertical-align: bottom;;
}
div.page_title div#search_form .input-wrapper {
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: #fff;
  border-color:#CCCCCC #CCCCCC #999999;
  border-style:solid;
  border-width:1px;
  border-bottom-color: #D4D4D4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #D4D4D4;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #D4D4D4;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #D4D4D4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 1px;
  float: right;
  width: 280px;
  margin-right: 16px;
}
div.page_title div#search_form .input-wrapper input#q {
  border: 0;
  margin: 0;
  background: transparent;
  width: 239px;
  font-size: 20px;
  padding: 3px;
}
div.page_title div#search_form .input-wrapper input#q:focus {
  outline: none;
}

div.frame div.box {
  background-color: #fff;
}
div#sidebar div.box {
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  -moz-box-shadow:0 1px 3px #BBBBBB;
  -webkit-box-shadow: #BBB 0px 1px 3px;
}

#content h3,
div.box h3 {
  color: #666;
  border-bottom: 1px solid #E0E0E0;
  font-size: 0.9em;
  line-height: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

div.navibox a,
div.frame a {
  color: #4E96B2;
  font-weight: bold;
  text-decoration: none;
}
div.frame a:hover {
  text-decoration: underline;
}

thead th {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #666;
  border-bottom: 1px solid #E0E0E0;
}
tbody td.options {
  text-align: right;
  padding-right: 0;
}
.index tbody tr td {
  border-bottom: 1px solid #f0f0f0;
}

legend span {
  color: #666;
  font-size: 1em;
}

#sidebar .box ul {
  padding-left: 20px;
}

span.label {
  color: #fff;
  background-color: #000;
  border: 1px solid #ccc;
  padding: 2px;
  font-size: 0.8em;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px;
  text-shadow:0 1px 3px #222222;
}
span.label.freight {
  background-color: #0c0;
  border-color: #0a0;
}
span.label.loading_space {
  background-color: #00c;
  border-color: #00a;
}

table tr th h2 {
  margin: 0;
}
h3 a.new,
h3 align,
h3 a.show {
  float: right;
  margin-top: -6px;
  margin-left: 4px;
  text-transform: none;
}
table tr th b {
  color: #000;
  text-transform: none;
}

.bad,
.severe,
a.severe:visited,
a.cancel,
a.cancel:hover,
a.cancel:visited,
a.delete,
a.delete:hover,
a.delete:visited {
  color: #f00;
  text-decoration: underline;
}

fieldset ol li.error {
  background: transparent;
  border: 0;
}
fieldset ol li.error input {
  background:#FBE3E4;
  color:#8a1f11;
  border: 2px solid #FBC2C4;
}


/* button basics */ 
div.frame a.minibutton {
    display:inline-block;
    height:23px;
    padding:0 0 0 3px;
    font-size:11px;
    font-weight:bold;
    color:#333;
    text-shadow:1px 1px 0 #fff; 
    background:url(minibutton_matrix.png) 0 0 no-repeat;
    white-space:nowrap;
    border:none;
    overflow:visible;
    cursor:pointer;
    text-decoration:none;
  }
div.frame a.minibutton>span {
    display:block;
    height:23px;
    padding:0 10px 0 8px;
    line-height:23px;
    background:url(minibutton_matrix.png) 100% 0 no-repeat;
  }
div.frame a.minibutton:hover, a.minibutton:focus {
    color:#fff;
    text-decoration:none;
    text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
    background-position:0 -30px;
  }
div.frame a.minibutton:hover>span, a.minibutton:focus>span {background-position:100% -30px;}
div.frame a.minibutton.mousedown{background-position:0 -60px; }
div.frame a.minibutton.mousedown>span{background-position:100% -60px; }
  /* with icon */ 
div.frame a.minibutton .icon {
    float:left;
    margin-left:-4px;
    width:18px;
    height:22px;
    background:url(minibutton_icons.png) 0 0 no-repeat;
  }
div.frame a.btn-edit .icon {background-position:0 0;}
div.frame a.btn-edit:hover .icon, a.btn-download:focus .icon {background-position:0 -25px;}
div.frame a.btn-show .icon {background-position:-20px 0;}
div.frame a.btn-show:hover .icon, a.btn-download:focus .icon {background-position:-20px -25px;}
div.frame a.btn-download .icon {background-position:-40px 0;}
div.frame a.btn-download:hover .icon, a.btn-download:focus .icon {background-position:-40px -25px;}
div.frame a.btn-upload .icon {background-position:-60px 0;}
div.frame a.btn-upload:hover .icon, a.btn-download:focus .icon {background-position:-60px -25px;}
div.frame a.btn-fork .icon {background-position:-80px 0;}
div.frame a.btn-fork:hover .icon, a.btn-download:focus .icon {background-position:-80px -25px;}
div.frame a.btn-compare .icon {background-position:-100px 0;}
div.frame a.btn-compare:hover .icon, a.btn-download:focus .icon {background-position:-100px -25px;}
div.frame a.btn-leave .icon {background-position:-120px 0;}
div.frame a.btn-leave:hover .icon, a.btn-download:focus .icon {background-position:-120px -25px;}
div.frame a.btn-reply .icon {background-position:-140px 0;}
div.frame a.btn-reply:hover .icon, a.btn-download:focus .icon {background-position:-140px -25px;}
div.frame a.btn-prev .icon {background-position:-160px 0;}
div.frame a.btn-prev:hover .icon, a.btn-download:focus .icon {background-position:-160px -25px;}
div.frame a.btn-next .icon {background-position:-180px 0;}
div.frame a.btn-next:hover .icon, a.btn-download:focus .icon {background-position:-180px -25px;}


.navibox {
  -webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 1px;
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#FCFCFC), to(#E8E8E8));
  border-bottom-color: whiteSmoke;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border: 1px solid #E9E9E9;
  border-top: none;
  border-top-left-radius: 0px 0px;
  border-top-right-radius: 0px 0px;
  float: right;
  font-size: 12px;
  padding: 8px 5px 7px 10px;
  -moz-border-radius:5px 5px 5px 5px;
  -moz-border-radius-topleft:0;
  -moz-border-radius-topright:0;
  -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
  background:-moz-linear-gradient(270deg, #FCFCFC, #ECECEC) repeat scroll 0 0 transparent;
  border-color:#E9E9E9 #E9E9E9 #F5F5F5;
  border-style:solid;
  border-width:1px;
}


/* 
  Big Buttons in Sidebar 
*/
#sidebar .create_new_freight,
#sidebar .create_new_loading_space {
  -moz-border-radius:5px 5px 5px 5px;
  -moz-box-shadow:0 1px 0 #ECECEC;
  background: -moz-linear-gradient(90deg, #ECECEC, #F4F4F4) repeat scroll 0 0 transparent;
  -webkit-box-shadow: #ECECEC 0px 1px 0px 0px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, from(#ECECEC), to(#F4F4F4));
  background-origin: padding-box;
  border-bottom-color: #D4D4D4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #D4D4D4;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #D4D4D4;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #D4D4D4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 1px;
  color: #666;
  cursor: auto;
  display: block;
  float: right;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  height: 15px;
  line-height: 15px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: #666;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 15px;
  padding-top: 10px;
  position: static;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.699219) 1px 1px 0px;
  text-align: center;
  width: 250px;
  margin-right: 16px;
}

#sidebar .create_new_freight:hover,
#sidebar .create_new_loading_space:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, from(#3570B8), to(#5E9AE2));
  background:-moz-linear-gradient(90deg, #558BCB, #336FB7) repeat scroll 0 0 transparent;
  border: 1px solid #2E63A5;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-shadow: #2E63A5 0px -1px 0px;
}

/* Action lists */

#poll_status {
  color: #eee;
}

ul.action_list,
ul.action_list li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.action_list li {
  border-top: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 10px;
}
ul.action_list li.hovered {
  cursor: pointer;
  background: url(action_list_go.png) right center no-repeat #ffe;
}

ul.action_list div.image {
  width: 24px;
  float: left;
}
ul.action_list div.image img {
  width: 16px;
  height: 16px;
}
ul.action_list div.text strong {
  background-color: #ffa;
}
ul.action_list div.avatar {
  background-color: white;
  border: 1px solid #D0D0D0;
  float: left;
  margin-right: 0.7em;
  padding: 2px;
  width: 30px;
  height: 30px;
  display: none;
}
ul.action_list div.avatar img {
  width: 30px;
  height: 30px;
}

.green {
  color: #0D7F09!important;
}
.badge {
  -moz-border-radius:5px 5px 5px 5px;
  border-radius: 5px;
  background: red;
  color: white;
  padding: 0 3px;
}