/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset ol li.string input,
form.formtastic fieldset ol li.password input {
  padding: 5px;
  max-width: 270px;
}

form.formtastic fieldset ol li textarea {
  height: 150px;
}
div.localized_info_locale_selector {
  position: absolute;
  /*margin-top: 130px!important;*/
  margin-left: 600px!important;
}
div.localized_info_locale_selector label {
  display: block;
  font-weight: normal!important;
}

form.formtastic fieldset ol li label {
  font-size: 12px;
  font-weight: normal;
}

form.formtastic .form_site_info fieldset > ol > li label {
  width: 160px;
}
form.formtastic .form_site_info fieldset > ol > li fieldset ol {
  padding-left: 160px;
  width: 148px;
}
form.formtastic fieldset > ol > li.radio fieldset ol li {
  float: left;
  margin-right: 8px;
}

/* destination site attributes */
#loading_space_destination_site_info_attributes_name_input label,
#loading_space_destination_site_info_attributes_address_input label,
#loading_space_destination_site_info_attributes_address2_input label,
#loading_space_destination_site_info_attributes_zip_input label,
#loading_space_destination_site_info_attributes_city_input label,
#loading_space_destination_site_info_attributes_country_input label,
#loading_space_destination_site_info_attributes_track_number_input label,
/* origin site attributes */
#loading_space_origin_site_info_attributes_name_input label,
#loading_space_origin_site_info_attributes_address_input label,
#loading_space_origin_site_info_attributes_address2_input label,
#loading_space_origin_site_info_attributes_zip_input label,
#loading_space_origin_site_info_attributes_city_input label,
#loading_space_origin_site_info_attributes_country_input label,
#loading_space_origin_site_info_attributes_track_number_input label,
/* destination site attributes */
#freight_destination_site_info_attributes_name_input label,
#freight_destination_site_info_attributes_address_input label,
#freight_destination_site_info_attributes_address2_input label,
#freight_destination_site_info_attributes_zip_input label,
#freight_destination_site_info_attributes_city_input label,
#freight_destination_site_info_attributes_country_input label,
#freight_destination_site_info_attributes_track_number_input label,
/* origin site attributes */
#freight_origin_site_info_attributes_name_input label,
#freight_origin_site_info_attributes_address_input label,
#freight_origin_site_info_attributes_address2_input label,
#freight_origin_site_info_attributes_zip_input label,
#freight_origin_site_info_attributes_city_input label,
#freight_origin_site_info_attributes_country_input label,
#freight_origin_site_info_attributes_track_number_input label {
  width: 80px;
  float: left;
}

/* destination site attributes */
#loading_space_destination_site_info_attributes_name_input input[type=text],
#loading_space_destination_site_info_attributes_address_input input[type=text],
#loading_space_destination_site_info_attributes_address2_input input[type=text],
#loading_space_destination_site_info_attributes_zip_input input[type=text],
#loading_space_destination_site_info_attributes_city_input input[type=text],
#loading_space_destination_site_info_attributes_country_input input[type=text],
/* origin site attributes */
#loading_space_origin_site_info_attributes_name_input input[type=text],
#loading_space_origin_site_info_attributes_address_input input[type=text],
#loading_space_origin_site_info_attributes_address2_input input[type=text],
#loading_space_origin_site_info_attributes_zip_input input[type=text],
#loading_space_origin_site_info_attributes_city_input input[type=text],
#loading_space_origin_site_info_attributes_country_input input[type=text],
/* destination site attributes */
#freight_destination_site_info_attributes_name_input input[type=text],
#freight_destination_site_info_attributes_address_input input[type=text],
#freight_destination_site_info_attributes_address2_input input[type=text],
#freight_destination_site_info_attributes_zip_input input[type=text],
#freight_destination_site_info_attributes_city_input input[type=text],
#freight_destination_site_info_attributes_country_input input[type=text],
/* origin site attributes */
#freight_origin_site_info_attributes_name_input input[type=text],
#freight_origin_site_info_attributes_address_input input[type=text],
#freight_origin_site_info_attributes_address2_input input[type=text],
#freight_origin_site_info_attributes_zip_input input[type=text],
#freight_origin_site_info_attributes_city_input input[type=text],
#freight_origin_site_info_attributes_country_input input[type=text] {
  max-width: 180px;
}
  #loading_space_destination_site_info_attributes_track_number_input input[type=text],
  #loading_space_origin_site_info_attributes_track_number_input input[type=text],
  #freight_destination_site_info_attributes_track_number_input input[type=text],
  #freight_origin_site_info_attributes_track_number_input input[type=text] {
    max-width: 40px;
  }