/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset.buttons ol li.commit input {
  padding: 4px;
}

form.formtastic fieldset ol li.string input,
form.formtastic fieldset ol li.password input,
form.formtastic textarea {
  background: white;
  border: 1px solid #CCC;
  border-top-color: #999;
  padding: 6px 6px 0 6px;
}

form.formtastic fieldset ol li.string input,
form.formtastic fieldset ol li.password input {
  max-width: 270px;
}

form.formtastic fieldset ol li textarea {
  height: 150px;
  min-height: 3.9em;
}
div.localized_info_locale_selector {
  position: absolute;
  margin-left: 700px!important;
}
div.localized_info_locale_selector label {
  display: block;
  font-weight: normal!important;
}

form.formtastic fieldset ol li label {
  font-size: 12px;
  font-weight: normal;
}

form.formtastic .form_site_info fieldset > ol > li label {
  width: 160px;
}
form.formtastic .form_site_info fieldset > ol > li fieldset ol {
  padding-left: 160px;
  width: 148px;
}
form.formtastic fieldset > ol > li.radio fieldset ol li {
  float: left;
  margin-right: 8px;
}
