<% content_for(:toolbar) do %>
  <div class="float_right">
    <%= link_btn_unless_current t("notifications.common.settings"), {:controller => 'notification_condition_sets', :action => 'index'} %>
  </div>
<% end %>

<div class="box">
  <h3><%= t("users.edit.header") %></h3>
  <%= render 'form' %>
</div>