<div class="">
  <div class="attribute<%= ' dependent_attribute' if dependent %>">
    <div class="name"><%= name.full? || "&nbsp;".html_safe %></div>
    <div class="value"><%= value %></div>
    <%= clear_both %>
  </div>
</div>