<div class="box">
  <h3>
    <%= float_tag t("freights.index.header") %>
    <%= clear_both %>
  </h3>
  <p>
    <%= t('freights.index.intro') %>
  </p>

  <%= render :partial => "postings" %>
</div>