<%= render :partial => "partials/toolbar_posting_filters" %>

<div class="box">
  <h3><%= t("freights.index.header#{'_query' if @q}", :query => @q) %></h3>
  <p>
    <%= t('freights.index.intro') %>
  </p>

  <%= render :partial => "postings/postings" %>
</div>