<% content_for(:toolbar) do %>
  <%= link_btn_unless_current("Upload Excel", :action => 'upload') %>
<% end %>

<div class="box">
  <h3><%= t("freights.new.header") %></h3>
  <p>
    <%= t("freights.common.required_field_hint") %>
  </p>
  <%= render_partial 'form' %>
</div>