<div class="box">
  <h3>
    <%= t('admin.stations.index.header') %>
    <%= link_to t("admin.stations.common.new_link"), new_admin_station_path, :class => 'new' %>
  </h3>
  <p>
    <%= t('admin.stations.index.intro') %>
  </p>
  
  <%= render_table collection %>
</div>