<div class="box">
    <% content_for(:toolbar) do %>
      <%= link_btn t("common.link_back"), 'javascript:void(0);', :icon => :prev, :onclick => 'self.history.back(); return false;' %>
      <%= link_btn t("admin.common.edit_link"), edit_resource_path(resource), :icon => :edit %>
    <% end %>
    <%#= debug resource.attributes %>
</div>