<div class="box">
  <h3>Das Projekt CODE24</h3>
  <p>
    Das behandelte Realproblem dieser Diplomarbeit ergibt sich aus den Bemühungen der Eu- ropäischen Union den paneuropäischen Schienengüterverkehr auf der Nord-Süd-Transversale zwischen Rotterdam und Genua zu stärken. Dieses Projektvorhaben wird als „Projekt CO- DE24“ bezeichnet. Zur Koordination und Unterstützung grenzüberschreitender Güterver- kehre für den Verkehrsträger Schiene ist im Rahmen dieses Projekts auch die Implemen- tierung einer europaweiten Online-Frachtenbörse für den Schienengüterverkehr geplant.
  </p>
  <h3>Zum Begriff „Online-Frachtenbörse für den Schienengüterverkehr</h3>
  <p>
    Dabei ist zu beachten, dass der Begriff der Online-Frachtenbörse keineswegs eindeutig besetzt ist. Es existieren aktuell im europäischen Raum eine Vielzahl von Marktplätzen, welche sich als Marktführer präsentieren und Transporte sowie komplementäre Dienst- leistungen aller Art für einen oder mehrere Verkehrsträger anbieten. Aus der Tatsache, dass all diese Marktplätze ähnlichen aber nicht gleichen Charakters sind und Begriffe wie „Fracht“, „Laderaum“, „Frachten“, „Transport“ und „Börse“, „Marktplatz“ sowie die Zusätze „elektronisch“, „online“ oder „net“ scheinbar willkürlich kombinieren, folgt die Notwendig- keit, den Begriff der Online-Frachtenbörse näher zu definieren.
  </p>
  <p>
    Der Begriff „Online-Frachtenbörse für den Schienengüterverkehr“ soll im Rahmen dieser Diplomarbeit für einen elektronischen Marktplatz stehen, der virtuell Angebot und Nach- frage zusammenbringt und es seinen Teilnehmern so ermöglicht, an einem zentralen Ort unter Verwendung von Internet-Technologien schienengebundene Transporte und Dienst- leistungen untereinander zu handeln und koordinieren. Prinzipiell ist der Marktplatz je- dem frei zugänglich, es können Fracht und Laderaum gehandelt und sowohl der Spot- als auch der Kontraktmarkt bedient werden. Explizit gefördert werden soll das Auffinden neuer Geschäftspartner. Ausgeschlossen werden in dieser Diplomarbeit alle Marktplätze, die Kurier-, Express- und Paketdienste anbieten, sowie sämtliche Angebote, die sich nicht exklusiv an den Verkehrsträger Schiene wenden.
  </p>
</div>