<div class="box">
  <h3>Root#index</h3>
  <p>Find me in app/views/root/index.html.erb</p>
  
  <%= render :partial => '/partials/table', :locals => {:model => Recording.all.first.class, :arel => Recording.all} %>
</div>