<div class="page_title">
  <div class="container" id="page_title">
    <div class="span-16">
      <h2><%= page[:title] || t('hello') %>
        <span class="page_title_options">
          <%= yield(:page_title_options) %>
        </span>
      </h2>
    </div>
    <div class="span-8 last">
    </div>
  </div>
</div>