<% model.new.attributes.keys.tap do |attributes| %>
<table>
  <thead>
    <tr>
      <th>id</th>
      <% attributes.each do |attr| %>
        <th><%= attr.humanize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% arel.each do |ar| %>
      <tr>
        <td><%= ar.id %></th>
        <% attributes.each do |attr| %>
        <td><%= ar[attr].is_a?(Hash) ? debug(ar[attr]) : ar[attr] %></td>
        <% end %>
        <td><%= link_to "Edit", {:action => 'edit', :id => ar}, :class => 'edit' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>