<div class="box">
  <h3>Login</h3>
  <%= render 'form' %>
</div>

<% if demo_mode? %>
  <% content_for(:sidebar) do %>
    <% box "Quick Login" do %>
      <ul>
      <% User.all.each do |user| %>
        <li><%= link_to user.login, :action => 'demo_login', :id => user %></li>
      <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>
